html *
{
  font-family: 'Fauna One', serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  position: relative;
  display: table;
   width: 100%;
}
#msjs {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  position: relative;
  display: table;
   width: 100%;
}
#formMessages {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.messages{
  font-size: 15px;
}
textarea{
  width: 250px;
  height: 120px;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.button:hover, a:hover {
  opacity: 0.7;
}
